.float-cart {
    position: fixed;
    top: 0;
    right: -450px;
    width: 450px;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
  
    transition: right 0.2s;
  
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.2);

    &--open {
      right: 0;
    }
  
    &__close-btn {
      width: 70px;
      height: 70px;
      color: white;
      //background-color: white;
      text-align: center;
      line-height: 50px;
      position: absolute;
      top: 0;
      right: 10px;
      cursor: pointer;
      font-size: 1.1em;
  
      // &:hover {
      //   background-color: #212027;
      // }
    }
  
    .bag {
      width: 40px;
      height: 40px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      background-image: url('https://rawcdn.githack.com/jeffersonRibeiro/react-shopping-cart/ccf64841ddfdfedfce9821b2b7ff2c8075afb17c/src/static/bag-icon.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
  
      &--float-cart-closed {
        position: absolute;
        background-color: #6FB3CE;
        background-size: 50%;
        top: 10px;
        left: -65px;
        width: 65px;
        height: 65px;
        cursor: pointer;
  
        .bag__quantity {
          bottom: 5px;
          right: 10px;
        }
      }
      &--float-cart-closed:hover {
        background-color: rgb(130, 200, 228);
    }
  
      &__quantity {
        display: inline-block;
        width: 18px;
        height: 18px;
        color: #0c0b10;
        font-weight: bold;
        font-size: 0.7em;
        text-align: center;
        line-height: 18px;
        border-radius: 50%;
        background-color: #eabf00;
        position: absolute;
        bottom: -5px;
        right: 0px;
      }
    }
  
    &__header {
      color: white;
      box-sizing: border-box;
      text-align: center;
      padding: 45px 0;
      background-color: #6FB3CE;
  
      .header-title {
        font-weight: bold;
        font-size: 1.2em;
        vertical-align: middle;
      }
    }
  
    &__shelf-container {
      position: relative;
      min-height: 280px;
      padding-bottom: 200px;
  
      .shelf-empty {
        color: white;
        text-align: center;
        line-height: 40px;
      }
  
      .shelf-item {
        position: relative;
        box-sizing: border-box;
        padding: 5%;
        
        //transition: background-color 0.2s, opacity 0.2s;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.14);
        -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.14);
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.14);
        
  
        &::before {
          content: '';
          width: 90%;
          height: 2px;
          //background-color: rgba(0, 0, 0, 0.2);
          background-color: white;
          position: absolute;
          top: 0;
          left: 5%;
        }
        & {
          background: white;
  
          .shelf-item__price {
            p {
              text-decoration: line-through;
              //opacity: 0.6;
            }
          }
        }
        // &--mouseover {
        //   background: #0c0b10;
  
        //   .shelf-item__details {
        //     .title,
        //     .desc {
        //       text-decoration: line-through;
        //       opacity: 0.6;
        //     }
        //   }
  
        //   .shelf-item__price {
        //     p {
        //       text-decoration: line-through;
        //       //opacity: 0.6;
        //     }
        //   }
        // }

  
        &__del {
          width: 16px;
          height: 16px;
          top: 15px;
          right: 5%;
          border-radius: 50%;
          position: absolute;
          background-size: auto 100%;
          background-image: url('https://rawcdn.githack.com/jeffersonRibeiro/react-shopping-cart/ccf64841ddfdfedfce9821b2b7ff2c8075afb17c/src/static/sprite_delete-icon.png');
          background-repeat: no-repeat;
          z-index: 2;
          cursor: pointer;
  
          &:hover {
            //background-position-x: -17px;
          }
        }
  
        &__thumb,
        &__details,
        &__price {
          display: inline-block;
          vertical-align: middle;
        }
  
        &__thumb {
          vertical-align: middle;
          width: 15%;
          margin-right: 3%;
  
          img {
            width: 100%;
            height: auto;
          }
        }
        &__details {
          width: 57%;
  
          .title {
            color: #0d0d0d;
            margin: 0;
          }
  
          .desc {
            color: #0d0d0d;
            margin: 0;
          }
        }
        &__price {
          color: #0d0d0d;
          text-align: right;
          width: 25%;
        }
      }
    }
  
    &__footer {
      box-sizing: border-box;
      padding: 5%;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 200px;
      z-index: 2;
      background-color: white;
  
      &::before {
        content: '';
        width: 100%;
        height: 20px;
        display: block;
        position: absolute;
        top: -20px;
        left: 0;
        //background: linear-gradient(to top, rgba(235, 235, 235, 0.2), transparent);
        background-color: white;
      }
  
      .sub,
      .sub-price {
        color: #5b5a5e;
        vertical-align: middle;
        display: inline-block;
      }
  
      .sub {
        width: 20%;
      }
  
      .sub-price {
        width: 80%;
        text-align: right;
  
        &__val,
        &__installment {
          margin: 0;
        }
  
        &__val {
          color: #eabf00;
          font-size: 20px;
        }
      }
  
      .buy-btn {
        color: #ececec;
        text-transform: uppercase;
        background-color: #6FB3CE;
        text-align: center;
        padding: 15px 0;
        margin-top: 40px;
        cursor: pointer;
  
        transition: background-color 0.2s;
  
        &:hover {
          background-color: #8dc3d8;
        }
      }
    }
  }
  
  /* MAC scrollbar para desktop*/
  @media screen and (min-width: 640px) {
    .float-cart__content::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 10px;
      background-color: white;
      padding: 10px;
    }
    .float-cart__content::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: white;
    }
  }
  
  .float-cart__content {
    height: 100%;
    overflow-y: scroll;
  }
  