.Header {
    background-color: #6FB3CE;
    height: 90px;
    width: 100%;
}

.mainSlider div ul li {
    z-index: -1;
}

.Wrapper {
    min-height:100%;
    position:relative;
}

.Footer{
    background-color: #6FB3CE;
    height: 100px;
    width: 100%;

    position: absolute ;
    bottom: 0;
    z-index: -1;
}