@media screen and (min-width: 320px) and (max-width:414px){
    .slick-list img {
        height: 150px;
    }
}

@media screen and (min-width: 415px) and (max-width: 768px){
    .slick-list img {
        height: 260px;
        }
  }


@media screen and (min-width: 769px) and (max-width: 1096px){
    .slick-list img {
        height: 360px;
        }
    }
@media screen and (min-width: 1097px) and (max-width: 1396px){
    .slick-list img {
        height: 460px;
    }
}
@media screen and (min-width: 1397px) {
    .slick-list img {
        /* height: 460px; */
    }
}
.Footer{
    clear: both;
    background-color: #6FB3CE;
    height: 100px;
    width: 100%;
    position: relative ;
    z-index: -1;
    margin-top: 80px;
}

.rank-collection__title{
    margin: 50px 0 30px 7%;
    font-size: 20px;
    font-weight: 600;
}