$mobile_device : "screen and (min-width: 320px) and (max-width:567px)";
$mobile_device2 : "screen and (min-width: 568px) and (max-width:823px)";
$all_device_width : "screen and (min-width:824px)";


.Product_detail{
    @media #{$all_device_width}{
        width: 80%;
    }
    height: 100%;
    margin: auto;
    .product_top{
        display: flex;
        @media #{$mobile_device}{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 10px 0 10px;
        }
        @media #{$mobile_device2}{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 40px 0 40px;
        }
        @media #{$all_device_width}{
            min-width: 790px;
            max-width: 890px;
        }    
        margin-top: 40px;
        margin-bottom: 50px;
        .top_left {
            height: 100%;
            width: 100%;

            .product_img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                @media #{$mobile_device}{
                    height: 300px;
                    width: 300px;
                }
                @media #{$mobile_device2}{
                    height: 450px;
                    width: 450px;
                }    
                @media #{$all_device_width}{
                    height: 450px;
                    width: 450px;
                }
            }    
        }
        
        .top_right {
            height: 100%;
            width: 100%;
            .product_box{
                height: 95%;
                margin: 0 20px 0px 20px;
                .box_upper{
                    height: 30%;
                    .product_brand{
                        font-size: 12px;
                        color: #4d4d4d;
                        font-weight: 500;
                    }
                    .product_name{
                        font-size: 20px;
                        color: #1a1a1a;
                        font-weight: bold;
                    }
                    .original_price{
                        color: gray;
                        font-size: 16px;
                        font-weight: 300;
                        text-decoration: line-through;
                    }
                    .discount_price{
                        font-size: 18px;
                        .discount_rate{
                            font-size: 14px;
                        }
                    }
                    .delivery_cost{
                        font-size: 12px;
                    }
                }
                .box_mid{
                    height: 205px;
                    .product_option{
                        @media #{$all_device_width}{
                            height: 100%;
                            overflow-y: auto;
                        }
                        min-height: 70%;
                        margin: 10px 0 10px 0;
                        .select_options{
                            background-color: white;
                            margin: 10px 0 10px 0;
                            font-size: 14px;
                            padding: 3px;
                        }
                        
                        .options_added{
                            margin: 20px 0 40px 0;
                            span{
                                font-size: 15px;
                                color: #4d4d4d;
                            }
                            .item{
                                height: 19px;
                                display: flex;
                                margin:10px 20px 10px 20px ;
                                .quantity_input{
                                    margin-left: auto;

                                    input{
                                        height: 100%;
                                        width: 17px;
                                        margin-right: 10px;
                                        padding:0;
                                    }
                                    a span {
                                        font-weight: bold;
                                        font-size: 18px;
                                    }
                                    .option_del_btn{
                                        font-size: 14px !important;
                                        color: #4d4d4d !important;
                                        font-weight: 400 !important;
                                    }
                                    a {
                                        padding:0 7px 2px 7px;
                                    }
                                    a:hover{
                                        background-color: #dadada;

                                    }
                                }
                            }
                        }
                        
                    }
                    .box_downer{
                        height: 25%;
                        .total {
                            display: block;
                            .cost_total{
                                float: right;
                                font-size: 15px;
                                .total_count {
                                }
                                .bar{
                                    padding:10px;
    
                                }
                                .total_price{
                                }
                            }
                            .total_name{
                                float: left;
                                font-size: 15px;
                            }
                        }
                        .product_order{
                            clear: both;
                            display: block;
                            text-align: center;
                            div{
                                margin: 20px 0 20px 0;
                                padding: 10px;
                                width: 40%;
                             
                            }
                            a {
                                text-align: center;
                                text-decoration: none;
                                color: white;
                            }
    
                            .buy_btn{
                                float: right;
                                background-color: #6FB3CE;
                            }
                            .buy_btn:hover{
                                background: #8dc3d8;
                            }  
                            .cart_btn{
                                float: left;
                                background-color: #b2b2b2;
                                color: white;
                            }
                            .cart_btn:hover{
                                background-color: #cacaca;
                            }
    
                        }
    
                    }
                }
            }


        }
    }
    .product_bottom {
        max-width: 900px;
        height: 100%;
        margin-bottom: 17%;
        text-align: center;
        .product_contents{
            
            .product_detail_img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                max-width: 900px;
                @media #{$mobile_device}{
                    width: 320px;
                }
                @media #{$mobile_device2}{
                    width: 568px;
                }    
                @media #{$all_device_width}{
                    width: 824px;
                }    

            }
        }
    }

}
