a a:visited{
    text-decoration: none;
    color: #1a1a1a;
}    
.Product_item {
    
    float: left;
    width: 33.3%;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid transparent;
    cursor: pointer;
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    .product_title {
        color: #1a1a1a;
        font-weight: 550;
        white-space: nowrap; 
        width: 90%; 
        overflow: hidden;
        text-overflow: ellipsis; 
        text-align: left;
    }

    .product_price {
        text-align: left;
                        color:#737373;
                        font-size: 17px;
        .original {
            span {
            }
        }
        .dis{
            margin-left: 15px;
            color: #1a1a1a;
            font-size: 17px;
            font-weight: 550;
            span{
            }

        }
    }
}
.Product_item:hover{
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}