@media screen and (min-width: 320px) and (max-width:567px){
  .menu_drop_down{
    float:right;
    height: 100%;
  }
  .dropbtn {
    height: 100%;
    background-color: #6FB3CE;
    color: white;
    padding: 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    /* margin-left: auto; */
  }
  
  
  .dropdown {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: inline-block;
  }
  .menu-btn {
    display: flex;
    /* float: left; */

  }
  .menu-icon{
    position: relative;
    top:18px;
    left:9px;
  }
  .hamburger-menu {
    width: 18px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
  }


  .dropdown-content {
    display: none;
    position: absolute;
    right:0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1
  }
}

@media screen and (min-width: 568px) and (max-width:823px){
  .dropdown {
   
    display: none;
  }
}


@media screen and (min-width: 824px){
  .dropdown {
   
    display: none;
  }
  

}