.Product_Container {
    width: 85%;
    //float: left;
    margin: auto;
    min-height: 600px;
    &_Header{
       margin-top: 50px;
        .Product_Count {
            float: left;
            margin: 0;
            margin-top: 8px;

        }

        .Product_Sort{
            float: right;
            margin-top: 8px;

        }

    }

    &_Header::after{
        display: block;
        content: '';
        clear: both;
    }

    .Product_item {
        float: left;
        width: 25%;
        position: relative;
        text-align: center;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 30px;
        border: 1px solid transparent;
        cursor: pointer;

        img {
            max-width: 100%;
            height: auto;
          }

    }
}